:local .App {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
}

:local .term {
    flex: 1;
    font-family: BAMC;
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px;
    overflow: auto;
    white-space: pre-wrap;
}

:local .input {
    padding: 6px 8px;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin-top: 8px;
}
